<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Mes Appareils</h1>
      <ul class="list-group">
        <app-appareil appareilName="Machine à Laver"></app-appareil>
        <app-appareil appareilName="Plaque Chauffante"></app-appareil>
        <app-appareil appareilName="PC Portable"></app-appareil>
      </ul>
      <button class="btn btn-success" 
              [disabled]="!isAuth"
              (click)="onAllumer()">Tout allumer</button>
    </div>
  </div>
</div>
